<md-dialog style="width: 80%;">
    <md-dialog-content>
        <md-toolbar class="md-warn">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Add new inspection</h2>
            </div>
        </md-toolbar>
        <md-content flex layout-padding>
            <form name="newInspectionForm" ng-submit="saveInspection()">
                <md-subheader>Inspection details</md-subheader>
                <md-input-container>
                    <label>Name</label>
                    <input type="text" name="name" ng-model="inspection.name" required>
                </md-input-container>
                <md-input-container>
                    <label>Diagnosis</label>
                    <textarea rows="4" name="diagnosis" ng-model="inspection.diagnosis" required></textarea>
                </md-input-container>
                <md-input-container>
                    <label>Treatment</label>
                    <textarea rows="4" name="treatment" ng-model="inspection.treatment" required></textarea>
                </md-input-container>
                <md-input-container>
                    <label>Comment</label>
                    <textarea rows="4" name="comment" ng-model="inspection.comment" required></textarea>
                </md-input-container>
                <md-divider></md-divider>

                <!-- UPLOAD SOUNDS BEGIN -->
                <md-subheader>Upload sound</md-subheader>
                <md-input-container>
                    <label>Filename</label>
                    <input type="text" name="filename" ng-model="soundFilename">
                </md-input-container>
                <md-input-container>
                    <label>Selected file name</label>
                    <input type="text" name="attachmentName" ng-model="soundFile.name" ng-disabled="true">
                </md-input-container>
                <md-input-container>
                    <md-button class="md-raised md-primary" type="file" ngf-select ngf-multiple="false" ngf-select ng-model="soundFile" name="soundFile">Select a sound file</md-button>
                </md-input-container>
                <md-input-container>
                    <span class="md-button md-raised md-warn" ng-click="uploadSound()">Upload</span>
                </md-input-container>
                <md-input-container ng-if="uploadedSounds.length > 0">
                    <md-subheader>Uploaded sounds</md-subheader>
                    <md-divider></md-divider>
                    <md-list>
                        <md-list-item ng-repeat="sound in uploadedSounds">
                            <span class="flex">{{sound.name}}</span>
                            <span class="md-button material-icons" ng-click="deleteSound(sound)">delete</span>
                        </md-list-item>
                    </md-list>
                </md-input-container>
                <md-divider></md-divider>
                <!-- UPLOAD SOUNDS END -->

                <!-- UPLOAD ATTACHMENTS BEGIN -->
                <md-subheader>Upload attachment(s)</md-subheader>
                <md-input-container>
                    <label>Filename</label>
                    <input type="text" name="attachmentName" ng-model="attachmentFilename">
                </md-input-container>
                <md-input-container>
                    <label>Selected file name</label>
                    <input type="text" name="attachmentName" ng-model="attachmentFile.name" ng-disabled="true">
                </md-input-container>
                <md-input-container>
                    <md-button class="md-raised md-primary" type="file" ngf-select ngf-multiple="false" ngf-select ng-model="attachmentFile" name="attachmentFile">Select a file</md-button>
                </md-input-container>
                <md-input-container>
                    <span class="md-button md-raised md-warn" ng-click="uploadAttachment()">Upload</span>
                </md-input-container>
                <md-input-container ng-if="uploadedAttachments.length > 0">
                    <md-subheader>Uploaded attachments</md-subheader>
                    <md-divider></md-divider>
                    <md-list>
                        <md-list-item ng-repeat="attachment in uploadedAttachments">
                            <span class="flex">{{attachment.name}}</span>
                            <span class="md-button material-icons" ng-click="deleteAttachment(attachment)">delete</span>
                        </md-list-item>
                    </md-list>
                </md-input-container>
                <md-divider></md-divider>
                <!-- UPLOAD ATTACHMENTS END -->

                <md-input-container>
                    <md-button class="md-raised" type="submit">
                        <span>Save inspection</span>
                    </md-button>
                </md-input-container>
            </form>
        </md-content>
    </md-dialog-content>
</md-dialog>
