<head>
    <title>Szakdolgozat</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">-->
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >-->
    <!--<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">-->
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">-->

    <!-- Angular Material CSS now available via Google CDN; version 0.11.2 used here -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">

    <!--Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

    <!-- Lodash -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>

    <!-- Angular Material Javascript now available via Google CDN; version 0.11.2 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>-->
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!--materializer-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>-->
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/register.js"></script>
    <script src="/javascripts/home.js"></script>
    <script src="/javascripts/login.js"></script>
    <script src="/javascripts/uploadDialog.js"></script>

    <!-- Services -->
    <script src="/javascripts/services/session.js"></script>

    <!-- Controllers -->
    <script src="/javascripts/controllers/registerPatient.js"></script>
    <script src="/javascripts/controllers/searchUser.js"></script>
    <script src="/javascripts/controllers/profile.js"></script>
    <script src="/javascripts/controllers/addInspection.js"></script>
    <script src="/javascripts/controllers/inspectionPage.js"></script>
    <script src="/javascripts/controllers/myPatients.js"></script>

    <!-- Classes -->
    <script src="/javascripts/classes/inspection.js"></script>
    <script src="/javascripts/classes/user.js"></script>

    <!-- Vendors -->
    <script src="/javascripts/vendor/ng-file-upload-all.js"></script>
</head>