<!DOCTYPE html>
<html>
  <% include header.html %>
  <body ng-app="szakdolgozat" ng-controller="LoginCtrl">
    <h1><%= title %></h1>

    <md-content class="md-padding">
      <md-card>
        <md-card-content>
          <h2 class="md-title">Login</h2>
          <form name="registerForm" ng-submit="sendLogin()">
            <md-input-container>
              <label>Username</label>
              <input type="text" name="username" ng-model="loginObj.username" required>
            </md-input-container>
            <md-input-container>
              <label>Password</label>
              <input type="password" name="password" ng-model="loginObj.password" required>
            </md-input-container>
            <md-button type="submit">Login</md-button>

          </form>
          <md-button ng-click="goToRegister()">Register</md-button>
        </md-card-content>
      </md-card>
    </md-content>

    <!--<md-button type="file" name="up" ngf-select ngf-multiple="false" ngf-select ng-model="file" name="file">Select</md-button>-->
    <!--<span>Selected file: {{file.name}}</span>-->
    <!--<br/>-->
    <!--<md-progress-linear style="width: 80%" class="md-warn" md-mode="determinate" value="{{uploadProgress}}">-->
    <!--</md-progress-linear>-->
    <!--<md-button class="btn" ng-click="uploadPic(file)">Submit</md-button>-->
  </body>
</html>
