<!DOCTYPE html>
<html>
<% include header.html %>
<body ng-app="szakdolgozat" ng-controller="HomeCtrl">
<% include topToolbar.ejs %>
<!-- Hidden field for userId -->
<input style="display: none" id="inspectionId" value="<%= inspectionId %>" />

<div layout="column" ng-cloak style="height: 100%; overflow-y: scroll;">
  <section layout="row" flex>
    <% include leftSidebar.ejs %>
    <md-content flex layout-padding ng-controller="InspectionPageCtrl">
      <div layout="column" layout-fill layout-align="top center">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>{{inspection.name}}</h2>
          </div>
        </md-toolbar>

        <form name="newInspectionForm" ng-submit="updateInspection()">
          <md-subheader>Inspection details</md-subheader>
          <md-input-container>
            <label>Name</label>
            <input type="text" name="name" ng-model="inspection.name" ng-disabled="signedInUser.role !== 'doctor'" required>
          </md-input-container>
          <md-input-container>
            <label>Diagnosis</label>
            <textarea rows="4" name="diagnosis" ng-model="inspection.diagnosis" ng-disabled="signedInUser.role !== 'doctor'" required></textarea>
          </md-input-container>
          <md-input-container>
            <label>Treatment</label>
            <textarea rows="4" name="treatment" ng-model="inspection.treatment" ng-disabled="signedInUser.role !== 'doctor'" required></textarea>
          </md-input-container>
          <md-input-container>
            <label>Comment</label>
            <textarea rows="4" name="comment" ng-model="inspection.comment" ng-disabled="signedInUser.role !== 'doctor'" required></textarea>
          </md-input-container>
          <md-divider></md-divider>
          <md-input-container ng-if="sounds.length > 0">
            <md-subheader>Uploaded sounds</md-subheader>
            <md-divider></md-divider>
            <md-list>
              <% for(var i=0; i<sounds.length; i++) {%>
              <md-list-item>
                <span class="flex"><%=sounds[i].name%></span>
                <audio controls="controls" preload="none">
                  <source ng-src="/sound/file/<%= sounds[i]._id %>" type="<%=sounds[i].mimetype%>">
                  Your browser does not support the audio element.
                </audio>
              </md-list-item>
              <% } %>
            </md-list>
          </md-input-container>
          <md-divider></md-divider>

          <!-- UPLOAD SOUNDS BEGIN -->
          <% if(signedInUser.role == 'patient') { %>
          <md-subheader>Upload sound</md-subheader>
          <md-input-container>
            <label>Filename</label>
            <input type="text" name="filename" ng-model="soundFilename">
          </md-input-container>
          <md-input-container>
            <label>Selected file name</label>
            <input type="text" name="attachmentName" ng-model="soundFile.name" ng-disabled="true">
          </md-input-container>
          <md-input-container>
            <md-button class="md-raised md-primary" type="file" ngf-select ngf-multiple="false" ngf-select ng-model="soundFile" name="soundFile">Select a sound file</md-button>
          </md-input-container>
          <md-input-container>
            <span class="md-button md-raised md-warn" ng-click="uploadSound()">Upload</span>
          </md-input-container>
          <md-input-container ng-if="uploadedSounds.length > 0">
            <md-subheader>Uploaded sounds</md-subheader>
            <md-divider></md-divider>
            <md-list>
              <md-list-item ng-repeat="sound in uploadedSounds">
                <span class="flex">{{sound.name}}</span>
                <span class="md-button material-icons" ng-click="deleteSound(sound)">delete</span>
              </md-list-item>
            </md-list>
          </md-input-container>
          <% } %>
          <!-- UPLOAD SOUNDS END -->

          <md-divider></md-divider>
          <md-input-container ng-if="attachments.length > 0">
            <md-subheader>Uploaded attachments</md-subheader>
            <md-divider></md-divider>
            <md-list>
              <md-list-item ng-repeat="attachment in attachments">
                <a href="/attachment/file/{{attachment._id}}" class="flex"><span>{{attachment.name}}</span></a>
                <% if(signedInUser.role == 'doctor') { %>
                <span class="md-button material-icons" ng-click="">delete</span>
                <% } %>
              </md-list-item>
            </md-list>
          </md-input-container>

          <!--&lt;!&ndash; UPLOAD SOUNDS BEGIN &ndash;&gt;-->
          <!--<md-subheader>Upload sound</md-subheader>-->
          <!--<md-input-container>-->
            <!--<label>Filename</label>-->
            <!--<input type="text" name="filename" ng-model="soundFilename">-->
          <!--</md-input-container>-->
          <!--<md-input-container>-->
            <!--<label>Selected file name</label>-->
            <!--<input type="text" name="attachmentName" ng-model="soundFile.name" ng-disabled="true">-->
          <!--</md-input-container>-->
          <!--<md-input-container>-->
            <!--<md-button class="md-raised md-primary" type="file" ngf-select ngf-multiple="false" ngf-select ng-model="soundFile" name="soundFile">Select a sound file</md-button>-->
          <!--</md-input-container>-->
          <!--<md-input-container>-->
            <!--<span class="md-button md-raised md-warn" ng-click="uploadSound()">Upload</span>-->
          <!--</md-input-container>-->
          <!--<md-input-container ng-if="uploadedSounds.length > 0">-->
            <!--<md-subheader>Uploaded sounds</md-subheader>-->
            <!--<md-divider></md-divider>-->
            <!--<md-list>-->
              <!--<md-list-item ng-repeat="sound in uploadedSounds">-->
                <!--<span class="flex">{{sound.name}}</span>-->
                <!--<span class="md-button material-icons" ng-click="deleteSound(sound)">delete</span>-->
              <!--</md-list-item>-->
            <!--</md-list>-->
          <!--</md-input-container>-->
          <!--<md-divider></md-divider>-->
          <!--&lt;!&ndash; UPLOAD SOUNDS END &ndash;&gt;-->

          <!--&lt;!&ndash; UPLOAD ATTACHMENTS BEGIN &ndash;&gt;-->
          <!--<md-subheader>Upload attachment(s)</md-subheader>-->
          <!--<md-input-container>-->
            <!--<label>Filename</label>-->
            <!--<input type="text" name="attachmentName" ng-model="attachmentFilename">-->
          <!--</md-input-container>-->
          <!--<md-input-container>-->
            <!--<label>Selected file name</label>-->
            <!--<input type="text" name="attachmentName" ng-model="attachmentFile.name" ng-disabled="true">-->
          <!--</md-input-container>-->
          <!--<md-input-container>-->
            <!--<md-button class="md-raised md-primary" type="file" ngf-select ngf-multiple="false" ngf-select ng-model="attachmentFile" name="attachmentFile">Select a file</md-button>-->
          <!--</md-input-container>-->
          <!--<md-input-container>-->
            <!--<span class="md-button md-raised md-warn" ng-click="uploadAttachment()">Upload</span>-->
          <!--</md-input-container>-->
          <!--<md-input-container ng-if="uploadedAttachments.length > 0">-->
            <!--<md-subheader>Uploaded attachments</md-subheader>-->
            <!--<md-divider></md-divider>-->
            <!--<md-list>-->
              <!--<md-list-item ng-repeat="attachment in uploadedAttachments">-->
                <!--<span class="flex">{{attachment.name}}</span>-->
                <!--<span class="md-button material-icons" ng-click="deleteAttachment(attachment)">delete</span>-->
              <!--</md-list-item>-->
            <!--</md-list>-->
          <!--</md-input-container>-->
          <!--<md-divider></md-divider>-->
          <!--&lt;!&ndash; UPLOAD ATTACHMENTS END &ndash;&gt;-->

          <md-input-container>
            <md-button class="md-raised" type="submit">
              <span>Update inspection</span>
            </md-button>
          </md-input-container>
        </form>
      </div>
    </md-content>
  </section>
</div>
</body>
</html>
